@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700;800&family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

$leagueSpartan: 'League Spartan', sans-serif;
$poppins: 'Poppins', sans-serif;
$sansPro: 'Source Sans Pro', sans-serif;

$fs-1: 4.2rem;
$fs-2: 3.2rem;
$fs-3: 2.3rem;
$fs-4: 1.8rem;
$fs-5: 1.5rem;
$fs-6: 1.4rem;
$fs-7: 1.3rem;

$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;