$primaryColor: #EFFFFD;
$secondaryColor: #B8FFF9;
$tertiaryColor: #85F4FF;
$quaternaryColor: #42C2FF;

$selectiveYellow: hsl(42, 94%, 55%);
$eerieBlack1: hsl(0, 0%, 9%);
$eerieBlack2: hsl(180, 3%, 7%);
$quickSilver: hsl(0, 0%, 65%);
$radicalRed: hsl(351, 83%, 61%);
$lightGray: hsl(0, 0%, 80%);
$isabelline: hsl(36, 33%, 94%);
$grayX11: hsl(0, 0%, 73%);
$kappel15: hsla(170, 75%, 41%, 0.15);
$platinum: hsl(0, 0%, 90%);
$grayWeb: hsl(0, 0%, 50%);
$black80: hsla(0, 0%, 0%, 0.8);
$white50: hsla(0, 0%, 100%, 0.5);
$black50: hsla(0, 0%, 0%, 0.5);
$black30: hsla(0, 0%, 0%, 0.3);
$kappel: hsl(170, 75%, 41%);
$white: hsl(0, 0%, 100%);

$gradient: linear-gradient(-90deg, hsl(151, 58%, 46%) 0%, hsl(170, 75%, 41%) 100%);