/*
*
* Base
*
* Template styles for base core items such as root, html and body.
*
*/

:root {
  scroll-behavior: initial;
}

html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-size: 16px;
}

body {
  width: 100%;
  margin: 0;
  font-family: var(--font);
  font-weight: 400;
  color: var(--body);
  background-color: var(--background);
  font-size: 87.5%;
}

#root {
  opacity: 0;
}

html:not([data-show='true']) body.spinner {
  #root {
    opacity: 0;
  }

  &:after {
    border-color: #7d7d7d;
    border-right-color: transparent;
  }
}

html[data-show='true'] {
  scroll-behavior: smooth;

  #root {
    opacity: 1;
  }
}

.crop-text-1 {
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.crop-text-2 {
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.crop-text-3 {
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.crop-text-4 {
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.crop-text-5 {
  -webkit-line-clamp: 5;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}